<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label for="fname">Fname</label>
                    <input type="text" required #fname class="form-control" id="fname">
                </div>
                <div class="form-group">
                    <label for="lname">Lname</label>
                    <input type="text" required #lname class="form-control" id="lname">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" required #email class="form-control" id="email">
                </div>
                <div class="form-group">
                    <label for="contact">Contact</label>
                    <input type="text" required #contact class="form-control" id="contact">
                </div>
                <button
                *ngIf="!isEdit"
                (click)="onTodAdd()"
                 mat-raised-button color="primary"  class="btn btn-sm btn-block">Add Studetn</button>
                <button
                (click)="onUpdate()"
                *ngIf="isEdit"
                 mat-raised-button color="accent"  class="btn btn-sm btn-block">Update Studetn</button>
               
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <table class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Sr.No</th>
                                <th>Fname</th>
                                <th>Lname</th>
                                <th>Email</th>
                                <th>Contact</th>
                                <th>Edit</th>
                                <th>Remove</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let std of studentArr; let i = index;">
                                <td>{{i + 1}}</td>
                                <td>{{std.fname}}</td>
                                <td>{{std.lname}}</td>
                                <td>{{std.email}}</td>
                                <td>{{std.contact}}</td>
                                <td>
                  <button
                  (click)="onEdit(std)"
                   mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
                   <mat-icon>edit</mat-icon>
                 </button>
                                </td>
                                <td>
                                    <button
                                    (click)="onRemove(std.Stdid)"
                                     mat-mini-fab color="warn" aria-label="Example icon button with a delete icon">
                      <mat-icon>delete</mat-icon>
                      </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </table>
            </div>
        </div>
    </div>
</div>